# TODO: Can pointer arithmetic, global variables and no assembler warnings only be disabled for bootloader and kernel?
---
Checks: >
  *,
  -abseil*,
  -android*,
  -clang-analyzer*,
  -fuchsia*,
  -llvmlibc*,
  -zircon*,

  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -google-readability-todo,
  -hicpp-named-parameter,
  -hicpp-no-assembler,
  -llvm-header-guard,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-named-parameter,
FormatStyle: file
