---
InheritParentConfig: true
Checks: >
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -google-runtime-int,
  -modernize-deprecated-headers,
  -modernize-use-using,
  -readability-implicit-bool-conversion,
